---
import { Align } from "../align";

interface Props {
    title: string;
    content: string;
    imageUrl?: string;
    align: Align;
}

const { title, content, imageUrl, align } = Astro.props;

const baseClasses = "grid md:grid-cols-2 gap-8 items-center";

const classes = {
    [Align.Left]: baseClasses,
    [Align.Right]: `${baseClasses} md:grid-flow-dense`,
};
---

<div class={classes[align]}>
    <div class={`md:order-${align == Align.Left ? 1 : 2}`}>
        <h2 class="text-3xl md:text-4xl font-bold mb-6">{title}</h2>
        <p class="text-lg leading-relaxed">
            {content}
        </p>
    </div>
    <div
        class={`w-full h-[300px] md:h-[400px] md:order-${align == Align.Right ? 1 : 2}`}
    >
        <img
            src={imageUrl || "/placeholder.png"}
            alt=""
            class="w-full h-full object-cover"
        />
    </div>
</div>
