---
import Scaffolding from "./Scaffolding.astro";
import { getLocaleUI } from "../multilang";
import { $lang } from "../multilang-store";

interface Props {
    title: string;
    menuHidden: boolean;
}

const { title, menuHidden = false } = Astro.props;
---

<Scaffolding title={title}>
    <div class="flex flex-col min-h-screen">
        <!-- Navigation Bar -->
        <header
            id="navbar"
            class={`px-6 pt-4 border-b-2 border-white font-[Arial_Black] fixed w-full bg-bg z-100 duration-250 transition-opacity ${menuHidden ? "opacity-0" : "opacity-100"}`}
        >
            <div
                class="relative flex max-w-full max-md:flex-col pt-4 md:flex-row md:items-baseline md:justify-between"
            >
                <a class="flex items-center text-2xl font-black" href="/">
                    <!-- Decorative Circle -->
                    <span class="w-16 h-16 rounded-full clip-circle">
                        <img src="/favicon.png" />
                    </span>
                    <span
                        class="text-3xl tracking-wider self-end sm:block max-sm:hidden"
                    >
                        DOTY.HU
                    </span>
                </a>
                <input class="peer hidden" type="checkbox" id="navbar-open" />
                <label
                    class="absolute right-0 mt-1 pr-5 cursor-pointer text-xl md:hidden"
                    for="navbar-open"
                >
                    <span class="sr-only">Toggle Navigation</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="0.88em"
                        height="1em"
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 448 512"
                        ><path
                            fill="currentColor"
                            d="M0 96c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm448 160c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h384c17.7 0 32 14.3 32 32z"
                        ></path></svg
                    >
                </label>
                <nav
                    class="peer-checked:block peer-not-checked:max-md:hidden pl-2 pt-6 md:block sm:py-0"
                >
                    <ul
                        class="flex max-md:flex-col gap-y-4 md:flex-row md:gap-x-8"
                    >
                        <li class="text-3xl">
                            <a
                                href="/projects"
                                class="hover:text-gray-300 transition-colors"
                            >
                                {getLocaleUI("menu_projects")}
                            </a>
                        </li>
                        <li class="text-3xl">
                            <a
                                href="/hobbies"
                                class="hover:text-gray-300 transition-colors"
                            >
                                {getLocaleUI("menu_hobbies")}
                            </a>
                        </li>

                        <!-- Language Selector -->
                        <li class="relative" id="lang-selector">
                            <button
                                id="lang-button"
                                class="flex items-center justify-between w-full gap-2 hover:text-gray-300 transition-colors"
                            >
                                <span class="text-3xl max-sm:block sm:hidden"
                                    >{getLocaleUI("menu_lang")}</span
                                >
                                <div class="flex items-center">
                                    <img
                                        src={`/${$lang.get()}.png`}
                                        alt="UK Flag"
                                        class="object-contain h-6"
                                    />
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="w-4 h-4"
                                    >
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg>
                                </div>
                            </button>

                            <ul
                                id="lang-menu"
                                class="mt-2 py-2 w-48 rounded-md shadow-xl hidden w-full"
                            >
                                <li>
                                    <a
                                        id="en"
                                        class="lang-select px-4 py-2 w-full hover:bg-[#121212] transition-colors flex items-center justify-between"
                                    >
                                        English
                                        <img
                                            src="/en.png"
                                            alt="UK Flag"
                                            class="object-contain h-4"
                                        />
                                    </a>
                                </li>
                                <li>
                                    <a
                                        id="hu"
                                        class="lang-select px-4 py-2 hover:bg-[#121212] transition-colors flex items-center justify-between"
                                    >
                                        Magyar
                                        <img
                                            src="/hu.png"
                                            alt="Hungary Flag"
                                            class="object-contain h-4"
                                        />
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Main Content Area -->
        <main
            class:list={menuHidden
                ? ["flex-1", "w-full"]
                : ["flex-1", "pt-20", "w-full"]}
        >
            <slot />
        </main>

        <!-- Footer -->
        <footer class="py-4 text-center text-sm">COPYRIGHT © 2025 DOTY</footer>
    </div>
</Scaffolding>
<script>
    import { $lang, locale_cookie } from "../multilang-store";
    import { setCookie } from "typescript-cookie";

    // Language selector functionality
    const langButton = document.getElementById("lang-button");
    const langMenu = document.getElementById("lang-menu");
    let isMenuOpen = false;

    langButton?.addEventListener("click", () => {
        isMenuOpen = !isMenuOpen;
        if (langMenu) {
            langMenu.classList.toggle("hidden", !isMenuOpen);
        }
    });

    // Close menu when clicking outside
    document.addEventListener("click", (event) => {
        const langSelector = document.getElementById("lang-selector");
        if (
            langSelector &&
            !langSelector.contains(event.target as Node) &&
            langMenu
        ) {
            isMenuOpen = false;
            langMenu.classList.add("hidden");
        }
    });

    document.querySelectorAll(".lang-select").forEach((el) => {
        el.addEventListener("click", (event) => {
            const lang_id = event.currentTarget.id;
            $lang.set(lang_id);
            setCookie(locale_cookie, lang_id, { expires: 7 });
            window.location.reload();
        });
    });
</script>
